<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!-- [class.selected] is implementing class binding; a way to add and remove css class conditionallyL -->
    <!--When the current row hero is the same as the selectedHero, Angular adds the selected CSS class. When the two heroes are different, removes the class.-->
    <a routerLink="/hero-detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </a>
  </li>
</ul>
